In [1]:
import os
import tqdm
import numpy as np
import pandas as pd
import tensorflow as tf
from os.path import isfile, join
import time
import math
import logging
from tqdm import tqdm, tqdm_pandas 

from deepctr.models import DeepFM
from deepctr.feature_column import SparseFeat,DenseFeat, get_feature_names, VarLenSparseFeat

In [2]:
# gpu number setting

os.environ['CUDA_DEVICE_ORDER'] = 'PCI_BUS_ID'
os.environ["CUDA_VISIBLE_DEVICES"] = '0'

config = tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth = True
session = tf.compat.v1.Session(config=config)

# tensorflow & keras version check
print('tensorflow version : ' , tf.__version__)
print('keras version : ' , tf.keras.__version__)

# tensorflow gpu available check 
print('GPU available ? : ', tf.test.is_gpu_available(cuda_only=False, min_cuda_compute_capability=None))

tensorflow version :  2.4.4
keras version :  2.4.0
WARNING:tensorflow:From <ipython-input-2-bce55ae48cea>:15: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.list_physical_devices('GPU')` instead.
GPU available ? :  True

In [3]:
basedir = '/home/lms/ms/poc'
rawdata_path = join(basedir, 'dataset')
procdata_path = join(basedir, 'deepfm', 'dataset', 'preprocess', 'rating')

model_path_5_no_f= join(basedir, 'deepfm', 'model', 'model_5_no_f')
model_path_r_no_f= join(basedir, 'deepfm', 'model', 'model_r_no_f')
model_path_5_f= join(basedir, 'deepfm', 'model', 'model_5_f')
model_path_r_f= join(basedir, 'deepfm', 'model', 'model_r_f')

target_5 = 'rating_5'
target_r = 'rating_r'
epochs=20
batch_size=2**15
learner='adam'
num_hidden=256
task='regression'
dropout=0.6
lr=0.001
lr_decay=0.0001
embedding_dim=5
data_filename='hist.pkl'

In [4]:
data = pd.read_pickle(os.path.join(procdata_path, data_filename))
data.head()

,sa_id_CODE,category_id_CODE,rating_r,rating_5,seg_1,seg_2,seg_3,seg_4,pr_info_CODE,price_CODE,release_date,run_time_ss
0,0,0,4.5,5,1.00,0.0,0.00,0.00,0,0,0.990018,0.17365
1,1,0,5.0,5,0.97,0.0,0.03,0.00,0,0,0.990018,0.17365
2,2,0,4.5,5,0.97,0.0,0.03,0.00,0,0,0.990018,0.17365
3,3,0,5.0,5,0.98,0.0,0.01,0.01,0,0,0.990018,0.17365
4,4,0,4.5,5,0.86,0.0,0.01,0.13,0,0,0.990018,0.17365

In [5]:
sparse_features = ['sa_id_CODE','category_id_CODE','price_CODE','pr_info_CODE'] # nominal variable
dense_features = ['seg_1',
                  'seg_2',
                  'seg_3',
                  'seg_4',                       
                  'release_date',
                  'run_time_ss'] # continuous

In [6]:
fixlen_feature_columns = [SparseFeat(feat, data[feat].nunique(), embedding_dim=embedding_dim) 
                                  for feat in sparse_features] + [DenseFeat(feat, 1,) for feat in dense_features]

linear_feature_columns = fixlen_feature_columns
dnn_feature_columns = fixlen_feature_columns

feature_names = get_feature_names(linear_feature_columns + dnn_feature_columns)

In [7]:
fixlen_feature_columns

[SparseFeat(name='sa_id_CODE', vocabulary_size=1973461, embedding_dim=5, use_hash=False, vocabulary_path=None, dtype='int32', embeddings_initializer=<tensorflow.python.keras.initializers.initializers_v1.RandomNormal object at 0x7f9cee5be898>, embedding_name='sa_id_CODE', group_name='default_group', trainable=True),
 SparseFeat(name='category_id_CODE', vocabulary_size=17221, embedding_dim=5, use_hash=False, vocabulary_path=None, dtype='int32', embeddings_initializer=<tensorflow.python.keras.initializers.initializers_v1.RandomNormal object at 0x7f9cec4c0ac8>, embedding_name='category_id_CODE', group_name='default_group', trainable=True),
 SparseFeat(name='price_CODE', vocabulary_size=53, embedding_dim=5, use_hash=False, vocabulary_path=None, dtype='int32', embeddings_initializer=<tensorflow.python.keras.initializers.initializers_v1.RandomNormal object at 0x7f9cec4c0c88>, embedding_name='price_CODE', group_name='default_group', trainable=True),
 SparseFeat(name='pr_info_CODE', vocabulary_size=5, embedding_dim=5, use_hash=False, vocabulary_path=None, dtype='int32', embeddings_initializer=<tensorflow.python.keras.initializers.initializers_v1.RandomNormal object at 0x7f9cec4c0f28>, embedding_name='pr_info_CODE', group_name='default_group', trainable=True),
 DenseFeat(name='seg_1', dimension=1, dtype='float32', transform_fn=None),
 DenseFeat(name='seg_2', dimension=1, dtype='float32', transform_fn=None),
 DenseFeat(name='seg_3', dimension=1, dtype='float32', transform_fn=None),
 DenseFeat(name='seg_4', dimension=1, dtype='float32', transform_fn=None),
 DenseFeat(name='release_date', dimension=1, dtype='float32', transform_fn=None),
 DenseFeat(name='run_time_ss', dimension=1, dtype='float32', transform_fn=None)]

In [8]:
data = data[['sa_id_CODE', 'category_id_CODE', 'rating_r', 'seg_1', 'seg_2', 'seg_3', 'seg_4', 'pr_info_CODE', 'price_CODE', 'release_date', 'run_time_ss']]
data.head()

,sa_id_CODE,category_id_CODE,rating_r,seg_1,seg_2,seg_3,seg_4,pr_info_CODE,price_CODE,release_date,run_time_ss
0,0,0,4.5,1.00,0.0,0.00,0.00,0,0,0.990018,0.17365
1,1,0,5.0,0.97,0.0,0.03,0.00,0,0,0.990018,0.17365
2,2,0,4.5,0.97,0.0,0.03,0.00,0,0,0.990018,0.17365
3,3,0,5.0,0.98,0.0,0.01,0.01,0,0,0.990018,0.17365
4,4,0,4.5,0.86,0.0,0.01,0.13,0,0,0.990018,0.17365

In [9]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.2, random_state=2020)

In [10]:
# negative random sampling
max_code = data['category_id_CODE'].values.tolist()
max_num = max(max_code)

In [11]:
np.random.seed = 2020
rand1 = np.random.randint(max_num, size=len(train)) # 12511
rand2 = np.random.randint(max_num, size=len(train))
rand3 = np.random.randint(max_num, size=len(train))
rand4 = np.random.randint(max_num, size=len(train))
rand5 = np.random.randint(max_num, size=len(train))

In [12]:
train0 = pd.DataFrame(columns=['sa_id_CODE', 'category_id_CODE'])
train0['sa_id_CODE'] = train['sa_id_CODE']
train0

          sa_id_CODE category_id_CODE
11999337      278987              NaN
8141526       386253              NaN
12344380     1880334              NaN
9598807       597462              NaN
2416674       460703              NaN
...              ...              ...
8302275      1123885              NaN
1948278       839798              NaN
9870659       649940              NaN
1765768       796509              NaN
8168288       700882              NaN

[12835283 rows x 2 columns]

In [13]:
train1 = train0.copy()
train2 = train0.copy()
train3 = train0.copy()
train4 = train0.copy()
train5 = train0.copy()

In [14]:
train1['category_id_CODE'] = rand1
train1['rating_r'] = 0
train2['category_id_CODE'] = rand2
train2['rating_r'] = 0
train3['category_id_CODE'] = rand3
train3['rating_r'] = 0
train4['category_id_CODE'] = rand4
train4['rating_r'] = 0
train5['category_id_CODE'] = rand5
train5['rating_r'] = 0

In [15]:
train = train[['sa_id_CODE', 'category_id_CODE', 'rating_r']]

In [16]:
train = pd.concat([train, train1, train2, train3, train4, train5]) # 77011698

In [18]:
# user feature merge
user_data = pd.read_pickle(os.path.join(procdata_path, 'user.pkl'))
user_data = user_data[['sa_id_CODE', 'seg_1', 'seg_2', 'seg_3', 'seg_4']]
# item feature merge
item_data = pd.read_pickle(os.path.join(procdata_path, 'item.pkl'))
item_data = item_data[['category_id_CODE', 'pr_info_CODE', 'price_CODE', 'release_date', 'run_time_ss']]

In [19]:
train = train.merge(user_data, on='sa_id_CODE')

In [20]:
train = train.merge(item_data, on='category_id_CODE')

In [21]:
del [[train1, train2, train3, train4, train5, train0, data]]
#del train2
#del train3
#del train4
#del train5
#del train0
#del data
#del user_data
#del item_data

In [22]:
# 셔플
train = train.sample(frac=1).reset_index(drop=True)

In [23]:
# save
train.to_pickle(os.path.join(procdata_path, 'train_r.pkl'))

In [24]:
# save
test.to_pickle(os.path.join(procdata_path, 'test_r.pkl'))

In [10]:
del [[train, test]]

In [11]:
train = pd.read_pickle(os.path.join(procdata_path, 'train_r.pkl'))
test = pd.read_pickle(os.path.join(procdata_path, 'test_r.pkl'))

In [12]:
train_model_input = {name:train[name].values for name in feature_names}
test_model_input = {name:test[name].values for name in feature_names}

In [13]:
train_model_input

{'sa_id_CODE': array([ 485055,  144040,   58216, ...,  234406, 1207865,  706489]),
 'category_id_CODE': array([13547,  3622,  8149, ..., 12352,  2326,  7274]),
 'price_CODE': array([3, 2, 5, ..., 2, 5, 1]),
 'pr_info_CODE': array([1, 0, 0, ..., 0, 0, 0]),
 'seg_1': array([0.5       , 0.97000003, 0.89999998, ..., 0.95999998, 0.56999999,
        0.15000001]),
 'seg_2': array([0., 0., 0., ..., 0., 0., 0.]),
 'seg_3': array([0.5       , 0.03      , 0.02      , ..., 0.01      , 0.        ,
        0.85000002]),
 'seg_4': array([0.        , 0.        , 0.07      , ..., 0.04      , 0.43000001,
        0.        ]),
 'release_date': array([0.93638904, 0.89406294, 0.97979492, ..., 0.894264  , 0.95861112,
        0.9477804 ]),
 'run_time_ss': array([0.25618531, 0.24691216, 0.2433722 , ..., 0.23983224, 0.27153796,
        0.13882797])}

In [14]:
model = DeepFM(linear_feature_columns,
                            dnn_feature_columns,
                            dnn_hidden_units=(num_hidden, num_hidden),
                            dnn_dropout=dropout,
                            task=task)
        
if learner.lower() == "adagrad": 
    opt = tf.keras.optimizers.Adagrad(lr=lr,  decay=lr_decay)
elif learner.lower() == "rmsprop":
    opt = tf.keras.optimizers.RMSprop(lr=lr,  decay=lr_decay)
elif learner.lower() == "adam":
    opt = tf.keras.optimizers.Adam(lr=lr, decay=lr_decay)
else:
    opt = tf.keras.optimizers.SGD(lr=lr,  decay=lr_decay)

model.compile(opt, 'mse', metrics=['mse',tf.keras.metrics.RootMeanSquaredError()])

In [15]:
train

,sa_id_CODE,category_id_CODE,rating_r,seg_1,seg_2,seg_3,seg_4,pr_info_CODE,price_CODE,release_date,run_time_ss
0,485055,13547,0.00000,0.50,0.0,0.50,0.00,1,3,0.936389,0.256185
1,144040,3622,0.00000,0.97,0.0,0.03,0.00,0,2,0.894063,0.246912
2,58216,8149,0.00000,0.90,0.0,0.02,0.07,0,5,0.979795,0.243372
3,700338,10755,0.00000,0.99,0.0,0.01,0.00,2,1,0.989478,0.108969
4,1283566,6061,0.00000,1.00,0.0,0.00,0.00,0,7,0.990202,0.173612
...,...,...,...,...,...,...,...,...,...,...,...
77011693,1640310,8636,0.00000,1.00,0.0,0.00,0.00,0,3,0.968289,0.162030
77011694,1537382,457,4.50000,1.00,0.0,0.00,0.00,1,2,0.841480,0.246066
77011695,234406,12352,0.00000,0.96,0.0,0.01,0.04,0,2,0.894264,0.239832
77011696,1207865,2326,3.78975,0.57,0.0,0.00,0.43,0,5,0.958611,0.271538
77011697,706489,7274,0.00000,0.15,0.0,0.85,0.00,0,1,0.947780,0.138828

In [16]:
epochs = 7
best_loss = epochs
        
for epoch in range(epochs):

    # Training
    hist = model.fit(train_model_input, #input
                          train[target_r].values, # labels
                          validation_data=(test_model_input, test[target_r].values),
                          batch_size=batch_size,
                          initial_epoch=epoch, epochs=epoch + 1, 
                          verbose=1, 
                          shuffle=True)

    train_loss = hist.history['loss'][0]
    train_rmse = hist.history['root_mean_squared_error'][0]
    val_loss = hist.history['val_loss'][0]
    val_rmse = hist.history['val_root_mean_squared_error'][0]


    if val_loss < best_loss :
        best_loss = val_loss
        model.save_weights(os.path.join(model_path_r_f, 'best.h5'))

2351/2351 [==============================] - 108s 45ms/step - loss: 1.3236 - mse: 1.3069 - root_mean_squared_error: 1.1371 - val_loss: 3.6507 - val_mse: 3.6074 - val_root_mean_squared_error: 1.8993
Epoch 2/2
2351/2351 [==============================] - 110s 46ms/step - loss: 1.0051 - mse: 0.9546 - root_mean_squared_error: 0.9771 - val_loss: 3.4460 - val_mse: 3.3933 - val_root_mean_squared_error: 1.8421
Epoch 3/3
2351/2351 [==============================] - 111s 46ms/step - loss: 0.9414 - mse: 0.8852 - root_mean_squared_error: 0.9408 - val_loss: 3.4880 - val_mse: 3.4310 - val_root_mean_squared_error: 1.8523
Epoch 4/4
2351/2351 [==============================] - 113s 47ms/step - loss: 0.8923 - mse: 0.8350 - root_mean_squared_error: 0.9138 - val_loss: 3.3832 - val_mse: 3.3263 - val_root_mean_squared_error: 1.8238
Epoch 5/5
2351/2351 [==============================] - 108s 45ms/step - loss: 0.8581 - mse: 0.8022 - root_mean_squared_error: 0.8957 - val_loss: 3.3609 - val_mse: 3.3058 - val_root_mean_squared_error: 1.8182
Epoch 6/6
2351/2351 [==============================] - 107s 44ms/step - loss: 0.8328 - mse: 0.7790 - root_mean_squared_error: 0.8826 - val_loss: 3.3572 - val_mse: 3.3043 - val_root_mean_squared_error: 1.8178
Epoch 7/7
2351/2351 [==============================] - 107s 45ms/step - loss: 0.8128 - mse: 0.7614 - root_mean_squared_error: 0.8726 - val_loss: 3.3957 - val_mse: 3.3451 - val_root_mean_squared_error: 1.8290

In [17]:
model.save_weights(os.path.join(model_path_r_f, 'best.h5'))

In [19]:
model.load_weights(os.path.join(model_path_r_f, 'best.h5'))
tf.keras.models.save_model(model, os.path.join(model_path_r_f, 'bestmodel'))

WARNING:absl:Found untraced functions such as dropout_layer_call_and_return_conditional_losses, dropout_layer_call_fn, dropout_1_layer_call_and_return_conditional_losses, dropout_1_layer_call_fn, activation_layer_call_and_return_conditional_losses while saving (showing 5 of 20). These functions will not be directly callable after loading.
WARNING:absl:Found untraced functions such as dropout_layer_call_and_return_conditional_losses, dropout_layer_call_fn, dropout_1_layer_call_and_return_conditional_losses, dropout_1_layer_call_fn, activation_layer_call_and_return_conditional_losses while saving (showing 5 of 20). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: /home/lms/ms/poc/deepfm/model/model_r_f/bestmodel/assets

INFO:tensorflow:Assets written to: /home/lms/ms/poc/deepfm/model/model_r_f/bestmodel/assets